<%= form_for @habit do |f| %>

  <% if @habit.errors.any? %>
     <div id="error_explanation">
       <h2>
         <%= pluralize(@habit.errors.count, "error") %> prohibited
         this habit from being saved:
       </h2>
       <ul>
         <% @habit.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
         <% end %>
       </ul>
     </div>
   <% end %>

   <p>
     <%= f.label :name %><br>
     <%= f.text_field :name %>
   </p>

   <p>
     <%= f.label :description %><br>
     <%= f.text_field :description %>
   </p>

   <p hidden>
   <%= f.date_field :start_date, value: Date.today %>
   <%= f.date_field :end_date, value: (Date.today + 30.days) %>
   <%= f.number_field :user_id, value: current_user.id %>
   </p>

   <p>
     <%= f.submit %>
   </p>

<% end %>
